---
layout: default
---

<div class="home">

  <img src="https://www.gravatar.com/avatar/579cf5ace3b2f56590f01ab82991511f?s=400" class="portrait">

  <p>
    Hi, I help Red Hat’s public sector customers adopt new technologies, processes, and mindsets.
    Before that I led platform engineering at a defense contractor, where I introduced
    Ansible, Kubernetes, Elastic Stack, and more. You can reach me on Twitter
    <a href="https://twitter.com/evanisanerd">@evanisanerd</a> or
    LinkedIn <a href="https://www.linkedin.com/in/evanstoner/">in/evanstoner</a>.
  </p>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
